.example-card {
  max-width: 400px;
  display: inline-block;
  margin:10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.inline-block {
  display: inline-block;
}

.search-field {
  margin-right: 1em;
}
