<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="space-around center"
      name="loginForm">
  <h1>Bejelentkezés</h1>

  <mat-form-field>
    <mat-label>Email
    </mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>

  <button mat-raised-button
          (click)="login()"
          color="primary"
          class="submit-button"
          aria-label="LOGIN"
          [disabled]="isLoginButtonDisabled">
    Bejelentkezés
  </button>

  <a routerLink="/auth/register">Nincs még fiókja? Hozzon létre egyet most!</a>

</form>
