<div class="title-container">
  <mat-card>Caff File Upload</mat-card>
  <form [formGroup]="caffPostForm" fxLayout="column">
    <mat-form-field class="spacer">
      <mat-label>Kép címe</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>

    <input type="file" multiple (change)="uploadFileInputChanged($event)">
    <button mat-raised-button color="primary" class="spacer" (click)="uploadFile()"
            [disabled]="isUploadButtonDisabled">Upload
    </button>
  </form>
</div>

