<div *ngIf="selectedCaffPost !== undefined">
  <mat-card class="left-card" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxLayoutAlign="space-around start">
      <mat-card-title>{{ selectedCaffPost.title }}</mat-card-title>
      <img mat-card-image class="image-class" [src]="selectedCaffPost.content">
      <div class="max-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column">
          <mat-card-subtitle>Készítette: {{selectedCaffPost.creatorName}}</mat-card-subtitle>
          <mat-card-subtitle>Feltöltötte: {{selectedCaffPost.user.name}}</mat-card-subtitle>
          <mat-card-subtitle [title]="selectedCaffPost.posted | date : 'short'">
            Feltöltés ideje: {{ selectedCaffPost.posted | date }}
          </mat-card-subtitle>
        </div>
        <div>
          <a *ngIf="isUser" mat-raised-button color="primary" (click)="download()">Letöltés
            <span class="material-icons icon-button">
              cloud_download
            </span>
          </a>
          <a *ngIf="isAdmin" mat-raised-button color="primary" (click)="delete()">Törlés
            <span class="material-icons icon-button">
              delete
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="comment-div">
      <mat-card *ngIf="isUser" class="max-width comment-card" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field class="comment-field" appearance="standard">
          <input matInput type="text" placeholder="Szólj hozzá..." #searchText>
        </mat-form-field>
        <a mat-mini-fab color="primary" (click)="comment(searchText)">
          <span class="material-icons icon-button">
              send
            </span>
        </a>
      </mat-card>
      <div *ngIf="comments !== undefined">
        <mat-card *ngFor="let comment of comments"
                  class="max-width comment-card" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-card-subtitle>
              <small>
                  <span class="material-icons" [title]="comment.createdAt | date : 'short'">
                    access_time
                  </span>
              </small>
              Írta: {{comment.user.name}}
            </mat-card-subtitle>
          </div>
          <mat-card-title>{{comment.text}}</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>


