<div class="toolbar" role="banner">
  <img width="40" alt="Angular Log o"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
  <span>NullPointerException Webshop</span>
  <div class="spacer"></div>
  <button *ngIf="isAuthenticated" mat-button (click)="search()">Képek
    <span class="material-icons icon-button">
        filter
    </span>
  </button>
  <button *ngIf="isAuthenticated && isUser" mat-button (click)="upload()">Feltöltés
    <span class="material-icons icon-button">
        cloud_upload
    </span>
  </button>
  <button *ngIf="isAuthenticated" mat-button (click)="logout()">Kijelentkezés
    <span class="material-icons icon-button">
        exit_to_app
    </span>
  </button>
</div>

<div class="content" role="main" fxLayout="column" fxLayoutAlign="space-around stretch">

  <router-outlet></router-outlet>

</div>
